<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CADASTRO</h1>
    <form action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-lg-12">
                <label for="nome_receita"><b>Nome completo</b></label>
                <input type="text" class="form-control" name="user">
            </div>
            <div class="col-12 col-lg-12">
                <label for="photo"><b>Foto</b></label>
                <input type="file" class="form-control" name="photo">
                <button class="btn btn-success" type="submit">Criar sua conta</button>
            </div>
        </div>
    </form>
    <a href="{% url 'login' %}">Login</a>
</body>
</html>